<!DOCTYPE html>

<head>
    <title>Cliente registrado</title>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8"> <!-- codificacion -->
    <meta name="viewport" content="width=device-width">
</head>

<body>
<h2>Elige la hora</h2>
aqui va la tabla
<form>
    <fieldset>
        <div>
            <label>Elige tu peluquer@</label>
            <select>
                <option>
                    la lista de los peluqueros a elegir
                </option>
            </select>
        </div>

        <div>
            <button type = "submit">Reservar cita</button>
        </div>
    </fieldset>

</form>
<aside>
    <ul>
        <li>
            <a id = "cliente no vip" href = "index">Cliente</a>
        </li>

        <li>
            <a id = "peluquero" href = "peluquero">Peluquer@</a>
        </li>

        <li>
            <a id = "encargado" href = "encargado">Encargad@</a>
        </li>
    </ul>
</aside>

<aside>
    <h2>Tu informacion</h2>
    <ul>
        <li>
            nombre:
        </li>

        <li>
            apellidos:
        </li>

        <li>
            contacto:
        </li>

        <li>
            proximas citas:
        </li>
    </ul>
</aside>

<footer>
    <h3>Contacta con el encargado</h3>
    <div>
        <a id="contacto" href="https://api.whatsapp.com/send?phone=34655555555" class="whatsapp-boton">
            Escribir un WhatsApp
        </a>
    </div>

    <div>
        <a href="tel:34655555555"> Llamar </a>
    </div>

</footer>
</body>