<!DOCTYPE html>

<head>

</head>

<body>
    <h2>Ver horas</h2>
    aqui va la tabla
    <h2>gestiones</h2>
    <ul>
        <li>
            <a href = "gestionClientes.html">gestionar clientes</a>
        </li>

        <li>
            <a href = "gestionTrabajadores.html">gestionar trabajadores</a>
        </li>
    </ul>

    <aside>
        <h2>Tu informacion</h2>
        <ul>
            <li>
                nombre:
            </li>

            <li>
                apellidos:
            </li>

            <li>
                contacto:
            </li>
            
            <li>
                proximas citas: 
            </li>
        </ul>
    </aside>

    <footer>
        <h3>Contacta con el encargado</h3>
        <div>
            <a id="contacto" href="https://api.whatsapp.com/send?phone=34655555555" class="whatsapp-boton">
                Escribir un WhatsApp
            </a>    
        </div>

        <div>
            <a href="tel:34655555555"> Llamar </a>
        </div>
        
    </footer>
</body>