<!DOCTYPE html>

<head>

</head>

<body>
    <h2>Reserva una cita</h2>
    <table border = 1>
        <thead>
            <tr>
                <th>
                    HORA
                </th>

                <th>
                    LUNES
                </th>

                <th>
                    MARTES
                </th>

                <th>
                    MIERCOLES
                </th>

                <th>
                    JUEVES
                </th>

                <th>
                    VIERNES
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    9.30
                </td>
            </tr>

            <tr>
                <td>
                    10.30
                </td>
            </tr>

            <tr>
                <td>
                    11.30
                </td>
            </tr>

            <tr>
                <td>
                    12.30
                </td>
            </tr>

            <tr>
                <td>
                    13.30
                </td>
            </tr>

            <tr>
                <td>
                    14.30
                </td>
            </tr>

            <tr>
                <td>
                    15.30
                </td>
            </tr>
        </tbody>
    </table>

    <form>
        <fieldset text = "informacion de contacto">
            <div>
                <label>Introduce tu nombre: </label>
                <input type = "text" required>
            </div>
            <div>
                <label>Introduce tu numero: </label>
                <input type = "tel" required>    
            </div>

            <div>
                <button type = "submit">Reservar cita</button>
            </div>
        </fieldset>
        
    </form>
    <h2>Registrarse</h2>
    <ul>
        <li>
            <a id = "cliente" href = "cliente.html">Cliente</a>
        </li>

        <li>
            <a id = "peluquero" href = "pelquero.html">Peluquer@</a>
        </li>

        <li>
            <a id = "encargado" href = "pelquero.html">Encargad@</a>
        </li>
    </ul>


    <footer>
        <h3>Contacta con el encargado</h3>
        <div>
            <a id="contacto" href="https://api.whatsapp.com/send?phone=34652336609" class="whatsapp-boton">
                Escribir un WhatsApp
            </a>    
        </div>

        <div>
            <a href="tel:34652336609"> Llamar </a>
        </div>
        
    </footer>
</body>