<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"> <!-- Codificación -->
    <meta name="viewport" content="width=device-width">
    <title>Cliente no VIP</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<h2>Cuando trabajas</h2>
<div>
    <!-- Aquí va la tabla -->
</div>

<h2>Reserva una cita</h2>
<table border="1">
    <thead>
    <tr>
        <th>HORA</th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIÉRCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>9.30</td>
        <td><button onclick="guardarCita('Lunes','9:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','9:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','9:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','9:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','9:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>10.30</td>
        <td><button onclick="guardarCita('Lunes','10:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','10:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','10:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','10:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','10:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>11.30</td>
        <td><button onclick="guardarCita('Lunes','11:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','11:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','11:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','11:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','11:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>12.30</td>
        <td><button onclick="guardarCita('Lunes','12:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','12:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','12:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','12:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','12:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>13.30</td>
        <td><button onclick="guardarCita('Lunes','13:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','13:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','13:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','13:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','13:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>14.30</td>
        <td><button onclick="guardarCita('Lunes','14:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','14:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','14:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','14:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','14:30')">Reservar</button></td>
    </tr>
    <tr>
        <td>15.30</td>
        <td><button onclick="guardarCita('Lunes','15:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Martes','15:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Miércoles','15:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Jueves','15:30')">Reservar</button></td>
        <td><button onclick="guardarCita('Viernes','15:30')">Reservar</button></td>
    </tr>
    </tbody>
</table>

<form id="formCita">
    <fieldset>
        <legend>Información de contacto</legend>
        <div>
            <label for="nombre">Introduce tu nombre:</label>
            <input type="text" id="nombre" required>
        </div>
        <div>
            <label for="telefono">Introduce tu número:</label>
            <input type="tel" id="telefono" required>
        </div>
        <div>
            <button type="submit">Reservar cita</button>
        </div>
    </fieldset>
</form>

<h2>Registrarse</h2>
<ul>
    <li><a id="cliente" href="cliente.html">Cliente</a></li>
    <li><a id="peluquero" href="peluquero.html">Peluquer@</a></li>
    <li><a id="encargado" href="encargado.html">Encargad@</a></li>
</ul>

<footer>
    <h3>Contacta con el encargado</h3>
    <div>
        <a id="contacto" href="https://api.whatsapp.com/send?phone=34655555555" class="whatsapp-boton">Escribir un WhatsApp</a>
    </div>
    <div>
        <a href="tel:34655555555">Llamar</a>
    </div>
</footer>

</body>
</html>