<!DOCTYPE html>

<head>
    <title>Peluquer@</title>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8"> <!-- codificacion -->
    <meta name="viewport" content="width=device-width">
</head>

<body>
<h2>Cuando trabajas</h2>
aqui va la tabla

<aside>
    <ul>
        <li>
            <a id = "cliente no VIP" href = "index.html">Cliente no vip</a>
        </li>

        <li>
            <a id = "cliente VIP" href = "cliente.html">cliente VIP</a>
        </li>

        <li>
            <a id = "encargado" href = "encargado.html">Encargad@</a>
        </li>
    </ul>
</aside>

<footer>
    <h3>Contacta con el encargado</h3>
    <div>
        <a id="contacto" href="https://api.whatsapp.com/send?phone=34655555555" class="whatsapp-boton">
            Escribir un WhatsApp
        </a>
    </div>

    <div>
        <a href="tel:34655555555"> Llamar </a>
    </div>

</footer>
<script src = "script.js"></script>
</body>
